<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo2.jpg" alt="TaskMaster Logo">
            <h1 class="brand-name">Beta Telemedics</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/my-appointments" id="myAppointmentsLink">My Appointment</a></li>
                <li><a href="/">Doctors</a></li>
                <li><a href="/signup"class="btn-primary">Signup</a></li>
                <li><a href="/login" class="btn-primary">Login</a></li>
            </ul>
        </nav>
    </header>