


<h2>My Appointments</h2>
<ul>
    <% appointments.forEach(appointment => { %>
        <li>
            <p>Doctor: <%= appointment.doctor %></p>
            <p>Date: <%= appointment.date %></p>
            <p>Time: <%= appointment.time %></p>
            <p>Reason: <%= appointment.reason %></p>
        </li>
    <% }) %>
</ul>